/*variáveis*/
:root{
    --font-dm-sans: "DM Sans", sans-serif; /* Fontes*/
    
    /*Cores*/ 
    --bg-backgroud: #000;
    --bg-word: #ffffff;
    --bg-box: #121212;
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,0.7); 
}